.appRoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
  border: solid 5px pink;
  background-color: lightgreen;
}

.infoContainer {
  width: 400px;
  margin: 20px;
  text-align: center;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  border: solid 10px sandybrown;
  background-color: skyblue;
  object-fit: cover;
}